<h2>{{ package.name }} Details</h2>

<div *ngIf="package">
	<p>Kind: {{ package.kind }}</p>
	<p>Type: {{ package.type }}</p>
	<div>
		<label>Description: 
      <input [(ngModel)]="package.description" placeholder="Enter a description for this package" />
    </label>
	</div>
	<div>
		<label>roadmap: 
      <input [(ngModel)]="package.roadmapInfo" placeholder="Enter rodmap info for this package" />
    </label>
	</div>
	<p>versions: </p>
	<div *ngFor="let version of package.versions">
		<a [title]="version.version + ' version details'"
			[routerLink]="['/packages', package.id, 'versions', version.id]">
			{{ version.version }}
		</a>
	</div>
</div>