<h2>{{artefacts.length}} Artefacts</h2>

<div *ngFor="let artefact of artefacts">

	<h3>
		<a [title]="artefact.name + ' details'" [routerLink]="['/artefacts', artefact.id]">
			{{ artefact.name }}
		</a>
	</h3>
	<p *ngIf="artefact.description">
		Description: {{ artefact.description }}
	</p>
	<p *ngIf="artefact.comment">
		Remarques: {{ artefact.comment }}
	</p>
	<p *ngIf="artefact.lastMajorVersion">
		Dernière version: {{ artefact.lastMajorVersion }}
	</p>

	<button (click)="share()">
    Share
  </button>
</div>